@{
 @using FoodOrdering.Persistence.Repositories
 @inject IServiceCart serviceCart
 var countCart=await serviceCart.GetCartCount(User.Identity.Name);
}



<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>@ViewData["Title"] - Food_Restaurant</title>
   <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" >
   <link rel="stylesheet" href="~/css/style.css">
   @await RenderSectionAsync("stylecss", required: false)
 
</head>
<body>
   
<header class="header">

   <section class="flex">

      <a asp-action="Index" asp-controller="Home" class="logo">yum-yum 😋</a>

      <nav class="navbar">
         <a asp-action="Index" asp-controller="Home">home</a>
         <a asp-action="Index" asp-controller="ShowMenu">menu</a>
         <a asp-action="ShowOrders" asp-controller="Order">orders</a>
         <a asp-action="Contact" asp-controller="Home">contact</a>
         <a asp-action="About" asp-controller="Home">about</a>
         @if(@User.IsInRole(Roles.adminrole))
         {
          <a asp-action="Index" asp-controller="Admin">Admin</a>
         }

      </nav>
       

      <div class="icons">
         <a asp-action="SearchMenu" asp-controller="ShowMenu"><i class="fas fa-search"></i></a>
         <a asp-action="Index"asp-controller="Cart"><i class="fas fa-shopping-cart"></i><span>@countCart</span></a>
         <div id="user-btn" class="fas fa-user"></div>
         <div id="menu-btn" class="fas fa-bars"></div>
      </div>

      <div class="profile">
          @if(User.Identity.IsAuthenticated==true)
          {

             <p class="name">Welcome @User.Identity.Name</p>
             <div class="flex">
                <a asp-action="Index" asp-controller="Profile" class="btn">profile</a>
                <a asp-action="Logout" asp-controller="Account" class="delete-btn">logout</a>
             </div>
          }
          else
          {
            <div class="flex">
            <a asp-action="Registration" asp-controller="Account" class="btn">Register</a>
            <a asp-action="Login" asp-controller="Account" class="delete-btn">Login</a>
            </div> 
          }
      </div>
           

   </section>
   
</header>


@RenderBody()
<footer class="footer">

   <section class="box-container">

      <div class="box">
         <img src="images/email-icon.png" alt="">
         <h3>our email</h3>
         <a href="mailto:#">www.michaelsoft.com@gmail.com</a>
      </div>

      <div class="box">
         <img src="images/clock-icon.png" alt="">
         <h3>opening hours</h3>
         <p>00:07am to 00:10pm </p>
      </div>

      <div class="box">
         <img src="images/map-icon.png" alt="">
         <h3>our address</h3>
         <a href="https://www.google.com/maps">Egypt_Minya</a>
      </div>

      <div class="box">
         <img src="images/phone-icon.png" alt="">
         <h3>our number</h3>
         <a href="tel:1234567890">+201134343499</a>
         <a href="tel:1112223333">+201265787688</a>
      </div>

   </section>

   <div class="credit">&copy; copyright 2022 by <span>MichaelSoft</span> | all rights reserved!</div>

</footer>
<div class="loader">
   <img src="images/loader.gif" alt="">
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="~/js/script.js"></script>
@await RenderSectionAsync("Scripts", required: false)

<script>

var swiper = new Swiper(".home-slider", {
   loop:true,
   grabCursor:true,
   effect: "flip",
   pagination: {
      el: ".swiper-pagination",
      clickable:true,
   },
});

</script>
</body>
</html>
