@model SearchViewModel
@{
    ViewData["Title"] = "Search";
    Layout = "_Layout";
}
<section class="search-form">
   <form asp-action="SearchResult" asp-controller="ShowMenu" method="get">
      <input asp-for="name" type="text" class="box" placeholder="search here..." maxlength="30">
      <button type="submit" class="fas fa-search" name="search_btn"></button>
   </form>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}